body{
background-image: url("pinterest\ julia.jpg");
background-size: 35%;
display: grid;
text-align: center;
justify-content: center;
align-items: center;
}
.euzinha{
    width: 350px;
background-color: rgba(255, 228, 196, 0.851);
border-radius: 25px;
text-align: center;
padding: 60px 60px;
margin-top: 120px;
}
h1{
    color: deeppink;
}